body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #FCEAB5;
}

.group {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FCEAB5;
}

.group h2 {
    font-size: 25px;
    color: #dc392f;
    margin-bottom: 10px;
}

.group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genre-box {
    width: 200px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff8e7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.genre-box:hover {
    background-color: #f9d9b8;
}
