html, body {
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FCEAB5;
}

.frame {
    background-color: #FCF0CD;
    width: 60%;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: center;
}

.content {
    padding: 60px 0;
    width: 100%;
}

.book-details {
    display: contents;
    margin-bottom: 20px;
}

.book-cover img {
    width: 252px;
    height: 360px;
    border-radius: 10px;
}

.book-info {
    width: 100%;
}

.book-info h2 {
    margin: 0 0 0 40px;
}

.book-info .metadata {
    margin: 30px 0 0 40px;
}

.book-info .metadata span {
    display: block;
    margin-bottom: 20px;
}

.book-info .description {
    margin: 45px 0 0 40px;
    text-align: justify;
}

.chapter-frame {
    background-color: #fff8e7;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.chapter-list {
    position: sticky;
}

.chapter-list h3 {
    margin-bottom: 10px;
}

.chapter-list ul {
    list-style: none;
    padding: 0;
}

.chapter-list ul li {
    margin-bottom: 10px;
}

.chapter-list ul li a {
    color: #EC3323;
    text-decoration: none;
}

.comments-section {
    margin: 20px 0 20px 0;
    background-color: #fff9;
    border-radius: 10px;
    width: 60%;
}

.comments-text {
    margin: 20px 20px 20px 20px;
    width: 60%;
}

.comments-text a {
    color: #EC3323;
}

#first-chapter-button {
    position: relative;
    cursor: pointer;
    font-size: 30px;
    border: none;
    background: linear-gradient(to top, #EC3323, rgba(255, 0, 0, 0));
    width: 252px;
    height: 140px;
    z-index: 0;
    bottom: 144px;
    color: #fff;
    border-radius: 0 0 10px 10px;
    font-family: 'Times New Roman', Arial, serif;
    letter-spacing: 15px;
}