html, body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FCEAB5;
}

body {
    background-color: #FCEAB5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 210px);
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.book {
    text-align: center;
    font-family: 'Times New Roman', Arial, serif;
}

.book a {
    text-decoration: none;
    color: inherit;
}

.book img {
    width: 210px; /* Đảm bảo kích thước cố định của ảnh */
    height: 300px;
    border-radius: 10px;
}

.book p {
    margin-top: 6px;
    font-size: 16px;
    color: #000;
}
