<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="book-title">Book Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <script src="/function/books.js"></script>
</head>
<body>
<div class="header">
    <span class="logo-text">NovelWeb</span>
</div>
<header class="top-bar">
    <div class="container">
        <div class="center">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Tìm kiếm tên truyện..." class="search-input" oninput="searchImage()">
                <button class="search-button" aria-label="Search"><img src="https://cdn.pixabay.com/photo/2015/12/08/17/38/magnifying-glass-1083373_640.png" alt="Search"></button>
            </div>
        </div>
    </div>
</header>
<nav class="navigation-bar">
    <div class="container">
        <a href="../templates/index.html"><img src="https://icon-library.com/images/home-icon-white/home-icon-white-7.jpg" alt="Trang chủ" class="home-icon"></a>
        <a href="../templates/history.html">Lịch sử</a>
        <a href="../templates/genres.html">Thể loại</a>
    </div>
</nav>
<div class="account-link">
    <img src="https://raw.githubusercontent.com/pck313/ImageWeb/refs/heads/main/userlogo.png" alt="User Icon">
    Tài khoản
    <div class="dropdown-content">
        <a href="../templates/login.html">Đăng nhập</a>
        <a href="../templates/register.html">Đăng ký</a>
    </div>
</div>
<main class="frame">
    <div class="content">
        <div class="container">
            <div class="book-details">
                <div class="book-cover">
                    <img id="book-cover" src="" alt="Book Cover">
                </div>
                <div class="book-info">
                    <h2 id="book-title-header">Book Title</h2>
                    <div class="metadata">
                        <span id="book-author">Tác giả: </span>
                        <span id="book-status">Tình trạng: </span>
                        <span id="book-genre">Thể loại: </span>
                    </div>
                    <div class="description">
                        <p id="book-description">Nội dung:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chapter-frame">
        <div class="chapter-list">
            <ul id="chapter-list">
                <h3>Danh sách chương:</h3>
            </ul>
        </div>
    </div>
</main>
<div class="comments-section">
    <div class="comments-text">
        <h3>Bình luận:</h3>
        <p>Bạn phải <a href="../templates/login.html">đăng nhập</a> để bình luận.</p>
    </div>
</div>
<iframe src="../templates/footer.html" style="border:0;width:100%;height:85px;" title="Footer"></iframe>

</body>
</html>
