<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Info</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
    }

    footer {
      font-family: Arial, sans-serif;
      background-color: #897A6D;
      color: #fff;
      text-align: center;
      width: 100%;
      position: relative;
      margin-top: auto;
      bottom: 0;
    }
  </style>
</head>
<body>

<footer>
  <div class="container">
    <p>Email: 23021596@vnu.edu.vn</p>
    <p>&copy; 2024 NovelWeb. All rights reserved.</p>
  </div>
</footer>

</body>
</html>
