<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NovelWeb - Trang chủ</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="header">
    <span class="logo-text">NovelWeb</span>
</div>

<header class="top-bar">
    <div class="container">
        <div class="center">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Tìm kiếm tên truyện..." class="search-input">
                <button class="search-button" aria-label="Search"><img src="https://cdn.pixabay.com/photo/2015/12/08/17/38/magnifying-glass-1083373_640.png" alt="Search"></button>
            </div>
        </div>
    </div>
</header>

<nav class="navigation-bar">
    <div class="container">
        <a href="index.html"><img src="https://icon-library.com/images/home-icon-white/home-icon-white-7.jpg" alt="Trang chủ" class="home-icon"></a>
        <a href="history.html">Lịch sử</a>
        <a href="genres.html">Thể loại</a>
    </div>
</nav>

<div class="account-link">
    <img src="https://raw.githubusercontent.com/pck313/ImageWeb/refs/heads/main/userlogo.png" alt="User Icon">
    Tài khoản
    <div class="dropdown-content">
        <a href="login.html">Đăng nhập</a>
        <a href="register.html">Đăng ký</a>
    </div>
</div>

</body>
</html>
